{
  "parser": "babel-eslint",
  "rules": {
    "eqeqeq": 2,
    "curly": 2,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "strict": 0,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "eol-last": 0,
    "no-shadow": 0,
    "no-alert": 0,
    "jsx-quotes": 0,

    "react/display-name": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2
  },
  "globals": {
    "__DEV__": true,
    "__API_URL__": true,
    "__APP_URL__": true
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ]
}